<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-white">
        <div class="card-header">
          <span class="text-black-50">
            Customers
          </span>
        </div>
        <div class="card-body pb-0">
          <div class="customers-search-container">
            <label class="sr-only" for="inlineFormInputGroup">Range</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-search"></i>
                </div>
              </div>
              <input type="text"
                     class="form-control"
                     id="inlineFormInputGroup"
                     placeholder="Range in Kilometers"
                     [formControl]="rangeFormControl"
              >
            </div>
          </div>
          <div class="mt-4">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Organization</th>
                <th scope="col">Locations</th>
                <th scope="col">Offices</th>
                <th scope="col">Remotely Ability</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let customer of customers$ | async">
                <td>
                  {{ customer.organization | titlecase }}
                </td>
                <td>
                  {{ customer.customerLocations | titlecase }}
                </td>
                <td>
                  <ul>
                    <li *ngFor="let office of customer.offices">
                      {{ office.location }}
                    </li>
                  </ul>
                </td>
                <td>
                  <span class="badge badge-{{ customer.willWorkRemotely ? 'success' : 'danger' }}">
                    {{ customer.willWorkRemotely ? 'Yes' : 'No' }}
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
